<form>
  <div>
    <label for="surname">Surname:</label>
    <input type="text" id="surname" name="surname" [(ngModel)]="surname" />
  </div>

  <div>
    <label for="forename">Forename:</label>
    <input type="text" id="forename" name="forename" [(ngModel)]="forename" />
  </div>

  <div>
    <label for="email">E-Mail:</label>
    <input type="email" id="email" name="email" [(ngModel)]="email" />
  </div>

  <div>
    <label for="password">Password:</label>
    <input
      type="password"
      id="password"
      name="password"
      [(ngModel)]="password"
    />
  </div>

  <button type="submit">Absenden</button>
</form>
